.root {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   height: calc(95vh - 90px);
}
.form {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   width: 70%;
   height: 70%;
}
.inputscontainer {
   width: 100%;
}
.message {
   display: none;
}
.messageerror {
   display: block;
   background-color: red;
}
.messageok {
   display: block;
   background-color: green;
}
