.root {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   height: calc(95vh - 90px);
}
.form {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   width: 70%;
   height: 70%;
}
.inputscontainer {
   width: 100%;
}
