.title {
   color: black;
   text-align: center;
   font-family: Poppins;
   font-size: 36px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
}
.white {
   color: white;
}
.red {
   color: #eb6372;
}
